<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <form action='team.erb' method='get'>
     <label for='name'>Team Name:</label>
     <input 
   </form></form>
 </body>
</html>


