<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <form action='team.erb' method='get'>
     <label for='name'>Team Name:</label>
     <input type='text' id='name' name='name'><br></br>
     <label for='coach'>Coach:</label>
     <input type='text' id='coach' name='coach'>
     <label for='pg'>Point Guard:</label>
     <input type='text' id='pg' name='pg'>
     <label for='sg'>Shooting Guard:</label>
     <input type='text' id='pg' name='pg'>
     <label for='pf'>Power Forward:</label>
     <input type='text' id='pf' name='pf'>
     <label for='sf'>Small Foward:</label>
     <input type='text' id='sf' name='sf'>
     <label for='c'>Center:</label>
     <input type='text' id='c' name='c'>
   </form></form>
 </body>
</html>


